

/* Position the navbar container inside the image */
.container {
  position: relative;
  margin: 0px;
  text-align:center;
   align-content: center;
  /*
 
  height:60px;
  width:40px;
  /*background-color: black;*/
  
  
}

* {
  box-sizing: border-box;
}



.body {
  /* The image used */
  background-image: url("b.jpg");

.style{
  /* Add the blur effect */
  filter: blur(12px);
  -webkit-filter: blur(12px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
h3
{
	color:blue;
}
}


/* The navbar */
.topnav h2 {
  text-align:centre;
  
  color: DodgeBlue;
  align-content: center;
}
.h2 u
{
	text-align:centre;
}

/* Navbar links 
.topnav a {
  float: none;
  color: white;
  background-color: rgba(255, 99, 71, 0);
  text-align: left;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 27px;
}

.topnav a:hover {
  background-color: LightGrey;
  color: DodgeBlue;
}*/

.bg-image {
  /* The image used */
  background-image: url("b.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:inherit;
}

form {
	margin: 40px 0;
	text-align:center;
	align-content: center;
	
	
}

div {
	clear: both;
	margin: 0 50px;
	color:black;
	display:inline-block;
	
}

label {
  width: 200px;
  border-radius: 3px;
  background-color:;
  border: 2px solid black;
 
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: none;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: white;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: DodgeBlue;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: DodgeBlue;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

th{
	color:white;
}

td{
	color:white;
}

h1{
	color:white;
}

h4{
	color:white;
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color:rgba(255, 99, 71, 0); /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
